body{
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.one{
margin-top: 30px;
text-align: center;
font-size: 30px;
font-weight: 600;
font-family: Verdana, Geneva, Tahoma, sans-serif;
height: 40px;
}


.films{
    
    border-radius: 11px;
    
    text-align: center; 
    display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 152px;
}
.ch{
    background-color: #292929;
    padding: 5px; 
    border-radius: 10px;
    
}
.pic{
    transition: transform 1s;
    border-radius: 10px;
}
.pic:hover{
    transform: scale(1.2);
    
}
.da{
    transition: transform 1s;
}
.da:hover{
    transform: translate(50px, 0px);
    transform: skew(20deg, 0deg);
}
table{
border-collapse: separate; 
border: 0.4px solid rgba(69, 69, 69, 0.855);
line-height: 1.1;
border-radius: 10px;
-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
margin: 0 auto;
}
th {
    padding: 10px; 
   
    
  }
  td {
    font-size: 0.8em;
    padding: 5px 7px;
    
  }
.figure{
    margin: 10px;
    text-indent: 250px;
}

.f1{
    align-items: center;
    margin-top: 30px;
    padding: 5px;
    height: 80px;
    width: 80px;
    display: inline-flex;
    background-color: #3500d3;
    transform: rotate(10deg);
    border-radius: 5px;
}

.f2{
    align-items: center;
    margin-top: 30px;
    padding-left: 20px;
    height: 80px;
    width: 850px;
    display: inline-flex;
    background-color: #4611e5;
    transform: rotate(20deg);
    border-radius: 2px;
}

.f2{
    align-items: center;
    margin-top: 30px;
    padding: 5px;
    height: 80px;
    width: 80px;
    display: inline-flex;
    background-color: #5a25f9;
    transform: rotate(30deg);
    border-radius: 5px;
}

.f3{
    align-items: center;
    margin-top: 30px;
    padding: 5px;
    height: 80px;
    width: 80px;
    display: inline-flex;
    background-color: #6734ff;
    transform: rotate(40deg);
    border-radius: 8px;
}

.f4{
    align-items: center;
    margin-top: 30px;
    padding: 5px;
    height: 80px;
    width: 80px;
    display: inline-flex;
    background-color: #7547ff;
    transform: rotate(50deg);
    border-radius: 14px;
}

.f5{
    align-items: center;
    margin-top: 30px;
    padding: 5px;
    height: 80px;
    width: 80px;
    display: inline-flex;
    background-color: #835aff;
    transform: rotate(60deg);
    border-radius: 25px;
}

.f6{
    align-items: center;
    margin-top: 30px;
    padding: 5px;
    height: 80px;
    width: 80px;
    display: inline-flex;
    background-color: rgb(141, 104, 255);
    transform: rotate(70deg);
    border-radius: 36px;
}
.f7{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    background-color: rgb(162, 131, 255);
}

ul{
    padding: 5px;
    margin: 0;
    
}

ul li:hover{
    list-style: none;
    -o-transform: scaleY(1.5);
    -ms-transform: scaleY(1.5);
    -moz-transform: scaleY(1.5);
    -webkit-transform: scaleY(1.5);
    transform: scaleY(1.5);
    transform: scaleX(1.1);
    font-size: 24px;
    background: rgb(162, 131, 255);
    color: #ffffff;
}

ul li{
    list-style: none;
    background-color: #3500d3;
    border: 0.2px solid rgb(75, 75, 75);
    color: blanchedalmond;
    font-size: 20px; 
    padding: 10px; 
  
    border-radius: 10px;
    transition: transform 2s;
    
}

.main{
    border: 0.2px solid rgb(75, 75, 75);
    border-radius: 10px;
    padding: 15px;
    margin-top: -60px;
    text-indent: 25px;
}
.page-frame,
.page-frame-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.page-frame--left,
.page-frame__content--left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.page-frame--left {
  width: 200px;
  margin-right: 20px;
  border: 0.2px solid rgb(75, 75, 75);
  border-radius: 10px;
}

.page-frame__content--left {
  width: 100%;
}

